:host {
  padding: 1rem;

  .card-container {
    display: flex;
    flex-wrap: wrap;

    ix-card {
      margin: 1rem;
      min-height: 15rem;
      cursor: pointer;
    }

    .pagination-container {
      display: flex;
      justify-content: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;

      padding: 1rem 0;
      margin: auto -4rem;
      background-color: var(--theme-color-backdrop);
    }
  }

  ix-pagination {
    display: block;
  }
}
